@import '../utils/variables.scss';
@mixin header_style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    & > img {
            width: 3rem;
            margin-bottom: $spacing-lg;
            margin-top: $spacing-md;
        }
        & > .user{
            display: flex;
            & > p {
                color: $text-color;
                margin-right: $spacing-md;
            }
        }
}
.header{
    background-color: $menu-color;
    @include header_style();
}
.header-dark{
    // background-color: $menu-color-dark;
    background-color:black;
    @include header_style();
}